.main
  .header
    background-color #ffffff
    position fixed
    top 0
    .header_inner
      width 100%
      height 86px
      .header_box
        .header_top
          width 100%
          padding 10px 10px
          .header_top_inner
            background #fff
            text-align center
            width 100%
            display flex
            justify-content space-between
            flex-wrap nowrap
            .header_site
              font-size 14px
              margin-right 10px
              color #898989
              a>span
                vertical-align middle
            .header_search
              margin-right 10px
              flex-grow 2
              position relative
              .header_input
                width 100%
                height 25px
                line-height 25px
                background #e9e9e9
                border 0px
                border-radius 4px
                color #bcbcbc
                font-size 13px
                outline 0
                padding-left 10px
              .icon-fangdajing
                font-size 11px
                position absolute
                right 5px
                top 5px
                bottom 0px
            .header_chat
              display block
              .icon-liaotian1
                font-size 20px
                margin-left 10px


